body { 
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  min-width: 320px;
  min-height: 100vh;
  background-color: #4dc0fa;
  margin: 0;
}

#root {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}